<!DOCTYPE html>
<html>
<title>Sage Portfolio</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/styles/prism.css">
<link rel="icon" href="static/favicon.png" />
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {
        width: 120px;
        background: #222;
    }
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {
        margin-left: 120px
    }
    /* Remove margins from "page content" on small screens. 'Raw' escapes special characters for Python Flask */
    {
        % raw %
    }

    @media only screen and (max-width: 600px) {
        #main {
            margin-left: 0
        }
    }

    {
        % endraw %
    }
</style>
<body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        <img src="static/images/laptop_rainbow.jpg" style="width:100%">
        <a href="#" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>HOME</p>
        </a>
        <a href="#about" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-user w3-xxlarge"></i>
            <p>ABOUT</p>
        </a>
        <a href="#projects" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>PROJECTS</p>
        </a>
        <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-envelope w3-xxlarge"></i>
            <p>CONTACT</p>
        </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="#" class="w3-bar-item w3-button" style="width:25% !important">HOME</a>
            <a href="#about" class="w3-bar-item w3-button" style="width:25% !important">ABOUT</a>
            <a href="#projects" class="w3-bar-item w3-button" style="width:25% !important">PROJECTS</a>
            <a href="#contact" class="w3-bar-item w3-button" style="width:25% !important">CONTACT</a>
        </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small">I'm</span> Sage.</h1>
            <p>Senior Software Engineer.</p>
            <img src="static/images/laptop_rainbow.jpg" alt="rainbow_laptop" class="w3-image" width="992" height="1108">
        </header>

        <!-- About Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="about">
            <!-- Summary Section -->
            <h2 class="w3-text-light-grey">About Me</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>
                <b>
                    Hi! I'm Sage and this is my portfolio, delivered via Python Flask web-app running on Microsoft Azure's Cloud Services.
                </b>
            </p>
            <p>
                <b>
                    I'm a Senior Software Engineer and Military Veteran that started in the software engineering field in 2013, and loves tech! The reason I love tech is because I've seen it change
                    lives and lead to quality employment for so many, including myself; I tend to view it as a means to really good ends. That
                    being said it's also been a fun journey of writing python scripts to automate disc drive testing and perform machine learning,
                    doing game development and volunteer particle accelerator research in my spare time, and contributing my experience during my
                    military service. As the only engineer in my family, I've relied on wonderful mentors at various Employers to help me get this
                    far, and I'm grateful to be here.
                </b>
            </p>

            <p>
                <b>
                    I'm open to Senior Software Engineering positions, especially ones that utilize Python, Linux, and Microsoft Azure.
                </b>
            </p>
            <pre>
                <code class="language-python">
                    if(python_flask_portfolio_webapp_is_running):
                        print("See my projects section below for example code snippets. :)")
                        #
                        #    _____                                   .___                 .__     .___
                        #   /  _  \  ________ __ __ _______   ____   |   |  ____    ______|__|  __| _/  ____
                        #  /  /_\  \ \___   /|  |  \\_  __ \_/ __ \  |   | /    \  /  ___/|  | / __ | _/ __ \
                        # /    |    \ /    / |  |  / |  | \/\  ___/  |   ||   |  \ \___ \ |  |/ /_/ | \  ___/
                        # \____|__  //_____ \|____/  |__|    \___  > |___||___|  //____  >|__|\____ |  \___  >
                        #         \/       \/                    \/            \/      \/          \/      \/
                        #
                </code>
            </pre>
            <!-- End Summary Section -->
            <!-- Education Section -->
            <h3 class="w3-padding-16 w3-text-light-grey">Education</h3>
            <ul>
                <li><p><b>Masters, Computer Science specializing in Machine Learning (In-progress)</b></p></li>
                <li><p><b>Bachelors, Computer Engineering</b></p></li>
                <li><p><b>Associates, Leadership and Critical Thinking (Military)</b></p></li>
                <li><p><b>Associates, Electronics Principles (Military)</b></p></li>
            </ul>
            <!-- End Education Section -->
            <!-- Skills Section -->
            <h3 class="w3-padding-16 w3-text-light-grey">Language Proficiency</h3>

            <p text-align="left"><b>Python</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:60%"></div></div>

            <p text-align="left"><b>C++</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:15%"></div></div>

            <p text-align="left"><b>C#</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:45%"></div></div>

            <p text-align="left"><b>Java</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:20%"></div></div>

            <h3 class="w3-padding-16 w3-text-light-grey">Database Proficiency</h3>

            <p text-align="left"><b>PostgreSQL</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:50%"></div></div>

            <p text-align="left"><b>MariaDB</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:60%"></div></div>

            <h3 class="w3-padding-16 w3-text-light-grey">Toolset Proficiency</h3>

            <p text-align="left"><b>Git/GitHub/GitLab</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:70%"></div></div>

            <p text-align="left"><b>Flask</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:30%"></div></div>

            <p text-align="left"><b>AWX Ansible</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:25%"></div></div>

            <p text-align="left"><b>Microsoft Azure</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:20%"></div></div>

            <p text-align="left"><b>Tensorflow</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:20%"></div></div>

            <p text-align="left"><b>Unity Game Engine</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:75%"></div></div>

            <p text-align="left"><b>Docker</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:55%"></div></div>

            <h3 class="w3-padding-16 w3-text-light-grey">Operating System Proficiency</h3>

            <p text-align="left"><b>Linux Develepment (CentOS)</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:65%"></div></div>

            <p text-align="left"><b>Windows Development</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:45%"></div></div>

            <p text-align="left"><b>Android Development</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:20%"></div></div>

            <p text-align="left"><b>Networking Systems, Ethernet Switches, etc.</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:70%"></div></div>

            <h3 class="w3-padding-16 w3-text-light-grey">Engineering Skills</h3>

            <p text-align="left"><b>Software Integration</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:65%"></div></div>

            <p text-align="left"><b>Leadership Training (Engineering and Military)</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:80%"></div></div>

            <p text-align="left"><b>Leadership Experience (Engineering and Military)</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:60%"></div></div>

            <p text-align="left"><b>Software Design</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:70%"></div></div>

            <p text-align="left"><b>Developing Tests</b></p>
            <div class="w3-black"><div class="w3-dark-grey" style="height:28px;width:60%"></div></div>
            <!-- End Skills Section -->
            <!-- End About Section -->
        </div>

        <!-- Work Experience and Project Section -->
        <div class="w3-padding-64 w3-content" id="projects">
            <h2 class="w3-text-light-grey">My Work Experience and Projects</h2>
            <hr style="width:200px" class="w3-opacity">

            <!-- Clickable URL Image Grid-->
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="disc_drive_project">
                        <img src="static/images/disc_drive.jpg" alt="disc_drive" style="width:100%">
                    </a>
                </div>

                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="particle_accelerator_project">
                        <img src="static/images/particle_accelerator.jpg" alt="particle_accelerator" style="width:100%">
                    </a>
                </div>

                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="awx_ansible_project">
                        <img src="static/images/awx_ansible_logo.png" alt="awx_ansible_logo" style="width:100%">
                    </a>
                </div>
            </div>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="tensorflow_project">
                        <img src="static/images/tensorflow.png" alt="tensorflow" style="width:100%">
                    </a>
                </div>

                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="unity_project">
                        <img src="static/images/made_with_unity.png" alt="made_with_unity" style="width:100%">
                    </a>
                </div>

                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="microsoft_azure_project">
                        <img src="static/images/microsoft_azure_logo.png" alt="microsoft_azure_logo" style="width:100%">
                    </a>
                </div>
            </div>
            <div class="w3-row-padding" style="margin:0 -16px">
                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="linux_project">
                        <img src="static/images/linux_logo.png" alt="linux_logo" style="width:100%">
                    </a>
                </div>

                <div class="w3-third w3-opacity w3-hover-opacity-off">
                    <a href="docker_project">
                        <img src="static/images/docker_logo.png" alt="docker_logo" style="width:100%">
                    </a>
                </div>
                <!-- End Clickable URL Image Grid -->
            </div>
            <!-- End Portfolio Section -->
        </div>

        <!-- Contact Section (Scroll here if Submit Button Pressed) -->
        <div class="w3-padding-64 w3-content w3-text-grey" id="contact">
            {% if submit_button_pressed %}
            <script>
                document.location.hash = '#' + '{{ submit_button_pressed }}';
            </script>
            {% endif %}
            <h2 class="w3-text-light-grey">Contact Me</h2>
            <hr style="width:200px" class="w3-opacity">

            <div class="w3-section">
                <p><i class="fa fa-map-marker fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Minneapolis, US</p>
                <!--<p><i class="fa fa-phone fa-fw w3-text-white w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>-->
                <p><i class="fa fa-envelope fa-fw w3-text-white w3-xxlarge w3-margin-right"> </i> Email: indiedragoness@protonmail.com</p>
            </div><br>
            <p>Let's get in touch. Send me a message:</p>

            <form action="/contact_form_action" method="POST">
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
                <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
                <p>
                    <button class="w3-button w3-light-grey w3-padding-large" type="submit">
                        <i class="fa fa-paper-plane"></i> SEND MESSAGE
                    </button>
                </p>
            </form>
            {% if submit_button_pressed %}
            <p>Thank you! Message sent.</p>
            {% endif %}
            <!-- End Contact Section -->
        </div>

        <!-- Footer -->
        <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
            <!--<i class="fa fa-facebook-official w3-hover-opacity"></i>-->
            <!--<i class="fa fa-instagram w3-hover-opacity"></i>-->
            <!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
            <!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
            <!--<i class="fa fa-twitter w3-hover-opacity"></i>-->
            <!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
            <p class="w3-medium">Powered by Sage and <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
            <p class="w3-medium">The AWX Project is a trademark of Red Hat, Inc., used with permission.</p>
            <p class="w3-medium">TensorFlow, the TensorFlow logo and any related marks are trademarks of Google Inc.</p>
            <p class="w3-medium">
                Tux, the mascot for linux, by <a href="https://isc.tamu.edu/~lewing/linux/">Larry Ewing</a>,
                <a href="http://www.home.unix-ag.org/simon/penguin/">Simon Budig</a>,
                <a href="https://commons.wikimedia.org/w/index.php?curid=753970">Garrett LeSage garrett/Tux on GitHub, CC0</a>
            </p>
            <p class="w3-medium">Docker, the Docker logo and any related marks are trademarks of Docker, Inc.</p>
            <p class="w3-medium">Microsoft, the Microsoft logo and any related marks are trademarks of Microsoft Corporation.</p>
            <p class="w3-medium">Unity, the Unity logo and any related marks are trademarks of Unity, Inc.</p>
            <!-- End footer -->
        </footer>

        <!-- END PAGE CONTENT -->
    </div>
    <script src="static/prism.js"></script>
</body>
</html>
