<!DOCTYPE html>
<html>
<title>Tensorflow Project</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/styles/prism.css">
<link rel="icon" href="static/favicon.png" />
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {
        width: 120px;
        background: #222;
    }
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {
        margin-left: 120px
    }
    /* Remove margins from "page content" on small screens. 'Raw' escapes special characters for Python Flask */
    {
        % raw %
    }

    @media only screen and (max-width: 600px) {
        #main {
            margin-left: 0
        }
    }

    {
        % endraw %
    }
</style>
<body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        <img src="static/images/tensorflow.png" style="width:100%">
        <a href="/#projects" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>BACK</p>
        </a>
        <a href="#summary" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>SUMMARY</p>
        </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="/#projects" class="w3-bar-item w3-button" style="width:25% !important">BACK</a>
            <a href="#summary" class="w3-bar-item w3-button" style="width:25% !important">SUMMARY</a>
        </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small"></span> Machine Learning.</h1>
            <p>Senior Software Engineer & Grad Student.</p>
            <img src="static/images/tensorflow.png" alt="disc_drive" class="w3-image" width="400" height="600">
        </header>

        <!-- Summary Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="summary">
            <h2 class="w3-text-light-grey">Senior Software Engineer</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>
                <b>
                    As part of my work as a Senior Software Engineer, I developed a data flow framework for the company both for
                    training and for production. The framework supported object detection in images, using a Convolutional Neural Network (CNN).
                    In addition, I made changes to our Tensorflow codebase to support transfer learning, a method of building off of an existing
                    neural network to support new features without restarting training completely from scratch.
                </b>
            </p>
            <p>
                TensorFlow is an end-to-end open-source platform
                for machine learning. It has a comprehensive,
                flexible ecosystem of tools, libraries and community
                resources that lets researchers push the
                state-of-the-art in ML and developers easily build
                and deploy ML powered applications.
            </p>
            <p>
                TensorFlow, the TensorFlow logo and any related
                marks are trademarks of Google Inc.
            </p>
            <!-- End Summary Section -->
        </div>

        <!-- Tensorflow Notes -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="what_is_tensorflow">
            <h2 class="w3-text-light-grey">What is Tensorflow?</h2>
            <hr style="width:200px" class="w3-opacity">
            <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;">
                <iframe style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;"
                        src="https://youtube.com/embed/yjprpOoH5c8"
                        allowFullScreen="allowFullScreen">
                </iframe>
            </div>
        </div>
        <!-- End Tensorflow Notes -->
        <!-- Footer -->
        <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
            <!--<i class="fa fa-facebook-official w3-hover-opacity"></i>-->
            <!--<i class="fa fa-instagram w3-hover-opacity"></i>-->
            <!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
            <!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
            <!--<i class="fa fa-twitter w3-hover-opacity"></i>-->
            <!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
            <p class="w3-medium">Powered by Sage and <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
            <!-- End footer -->
        </footer>

        <!-- END PAGE CONTENT -->
    </div>
    <script src="static/prism.js"></script>
</body>
</html>
