<!DOCTYPE html>
<html>
<title>Unity Projects</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/styles/prism.css">
<link rel="icon" href="static/favicon.png" />
<style>
    body, h1, h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif
    }

    .w3-row-padding img {
        margin-bottom: 12px
    }
    /* Set the width of the sidebar to 120px */
    .w3-sidebar {
        width: 120px;
        background: #222;
    }
    /* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
    #main {
        margin-left: 120px
    }
    /* Remove margins from "page content" on small screens. 'Raw' escapes special characters for Python Flask */
    {
        % raw %
    }

    @media only screen and (max-width: 600px) {
        #main {
            margin-left: 0
        }
    }

    {
        % endraw %
    }
</style>
<body class="w3-black">

    <!-- Icon Bar (Sidebar - hidden on small screens) -->
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center">
        <!-- Avatar image in top left corner -->
        <img src="static/images/made_with_unity.png" style="width:100%">
        <a href="/#projects" class="w3-bar-item w3-button w3-padding-large w3-black">
            <i class="fa fa-home w3-xxlarge"></i>
            <p>BACK</p>
        </a>
        <a href="#summary" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>SUMMARY</p>
        </a>
        <a href="#mlagents" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>MLAGENTS</p>
        </a>
        <a href="#bolt" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>BOLT</p>
        </a>
        <a href="#games" class="w3-bar-item w3-button w3-padding-large w3-hover-black">
            <i class="fa fa-eye w3-xxlarge"></i>
            <p>PROTOTYPES</p>
        </a>
    </nav>

    <!-- Navbar on small screens (Hidden on medium and large screens) -->
    <div class="w3-top w3-hide-large w3-hide-medium" id="myNavbar">
        <div class="w3-bar w3-black w3-opacity w3-hover-opacity-off w3-center w3-small">
            <a href="/#projects" class="w3-bar-item w3-button" style="width:25% !important">BACK</a>
            <a href="#summary" class="w3-bar-item w3-button" style="width:25% !important">SUMMARY</a>
        </div>
    </div>

    <!-- Page Content -->
    <div class="w3-padding-large" id="main">
        <!-- Header/Home -->
        <header class="w3-container w3-padding-32 w3-center w3-black" id="home">
            <h1 class="w3-jumbo"><span class="w3-hide-small"></span> Game Development! Simulations, too.</h1>
            <p>Playing in a Game & Simulation Sandbox.</p>
            <img src="static/images/made_with_unity.png" alt="made_with_unity" class="w3-image" width="400" height="600">
        </header>

        <!-- Summary Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="summary">
            <h2 class="w3-text-light-grey">Hobby Game Developer</h2>
            <hr style="width:200px" class="w3-opacity">
            <p>
                <b>
                    Over the course of six years I've developed various scripts, assets, and art for the Unity Game Engine. Some of these
                    works I've sold on the Unity Asset Store. Others are longer term hobby projects. This page covers some of the various
                    projects I've worked on in my spare time, to include my efforts with the Machine Learning Agents Unity framework.
                </b>
            </p>
            <p>
                Unity, the Unity logo and any related
                marks are trademarks of Unity, Inc.
            </p>
        </div>
        <!-- End Summary Section -->
        <!-- Unity Notes -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="what_is_unity">
            <h2 class="w3-text-light-grey">What is Unity?</h2>
            <hr style="width:200px" class="w3-opacity">
            <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;">
                <iframe style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;"
                        src="https://youtube.com/embed/R91KtPOS_SY"
                        allowFullScreen="allowFullScreen">
                </iframe>
            </div>
        </div>
        <!-- End Unity Notes -->
        <!-- Subprojects Section -->
        <!-- Begin MLAgents Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="mlagents">

            <h2 class="w3-text-light-grey">Machine Learning Agents in Unity Game Engine</h2>

            <div>
                <!-- Gifs -->
                <img src="static/images/mlagents_navigation.gif" alt="mlagents_navigation" class="w3-image" width="450" height="600">
                <img src="static/images/mlagents_RL_PCG.gif" alt="mlagents_RL_PCG" class="w3-image" width="450" height="600">
            </div>

            <hr style="width:200px" class="w3-opacity">
            <p>
                <b>
                    As part of my coursework for my masters degree program I wrote a paper and developed a demonstration game
                    that attempts to teach Reinforcement Learning Procedural Content Generation (RL-PCG). In the demonstration game,
                    I utilized <a href="https://unity.com/products/machine-learning-agents">Unity's Machine Learning Agents</a> framework
                    to bring <a href="https://www.tensorflow.org/">Tensorflow</a> capabilities into the game engine.
                </b>
            </p>
            <p>
                <b>
                    <ul>
                        <li><a href="https://unity.com/products/machine-learning-agents">Unity ML Agents</a></li>
                        <li><a href="https://github.com/Unity-Technologies/ml-agents">Unity ML Agents Github</a></li>
                        <li><a href="https://www.tensorflow.org/">Tensorflow</a></li>
                    </ul>
                </b>
            </p>
            <form action="/unity_project/download_rlpcg_paper" method="POST">
                <button class="w3-button w3-light-grey w3-padding-large w3-section">
                    <i class="fa fa-download"></i> Download My RLPCG Paper
                </button>
            </form>
        </div>
        <!-- End MLAgents Section -->
        <!-- Begin Bolt Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="bolt">
            <h2 class="w3-text-light-grey">Bolt Visual Scripting</h2>
            <div>
                <!-- Gifs -->
                <img src="static/images/bolt_visual_1.gif" alt="bolt_visual_1" class="w3-image" width="1200" height="1000">
            </div>

            <hr style="width:200px" class="w3-opacity">
            <p>
                <b>
                    While learning Unity, I created a series of tutorials for Hobby Game developers on the
                    <a href="https://unity.com/products/unity-visual-scripting">Bolt Visual Scripting</a> language. In addition,
                    I created and submitted a public C# module that let users bridge data between Bolt and
                    <a href="https://opsive.com/assets/behavior-designer/">Behavior Designer</a>.
                </b>
            </p>
        </div>
        <!-- End Bolt Section -->
        <!-- Begin Games Section -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="games">
            <h2 class="w3-text-light-grey">Hobby Games</h2>
            <div>
                <!-- Gifs -->
                <img src="static/images/hobby_game_visual_1.gif" alt="hobby_game_visual_1" class="w3-image" width="50%" height="40%">
                <img src="static/images/hobby_game_visual_2.gif" alt="hobby_game_visual_2" class="w3-image" width="40%" height="40%">
            </div>
            <div>
                <img src="static/images/hobby_game_visual_3.gif" alt="hobby_game_visual_3" class="w3-image" width="40%" height="40%">
                <img src="static/images/hobby_game_visual_4.gif" alt="hobby_game_visual_4" class="w3-image" width="50%" height="40%">
            </div>

            <hr style="width:200px" class="w3-opacity">
            <p>
                <b>
                    I've built numerous prototype games to learn the Unity game engine. While not deliverable, it's been a great way
                    to learn C# and Unity.
                </b>
            </p>
        </div>
        <!-- End Games Section -->
        <!-- Azure Services -->
        <div class="w3-content w3-justify w3-text-grey w3-padding-64" id="azure_and_unity">
            <h2 class="w3-text-light-grey">Using Microsoft Azure to Build Games</h2>
            <hr style="width:200px" class="w3-opacity">
            <div style="left: 0; width: 100%; height: 0; position: relative; padding-bottom: 56.25%;">
                <iframe style="border: 0; top: 0; left: 0; width: 100%; height: 100%; position: absolute;"
                        src="https://youtube.com/embed/F9ka3KLD8S8"
                        allowFullScreen="allowFullScreen">
                </iframe>
            </div>
        </div>
        <!-- End Azure Services -->
        <!-- End Subprojects Section -->
        <!-- Footer -->
        <footer class="w3-content w3-padding-64 w3-text-grey w3-xlarge">
            <!--<i class="fa fa-facebook-official w3-hover-opacity"></i>-->
            <!--<i class="fa fa-instagram w3-hover-opacity"></i>-->
            <!--<i class="fa fa-snapchat w3-hover-opacity"></i>-->
            <!--<i class="fa fa-pinterest-p w3-hover-opacity"></i>-->
            <!--<i class="fa fa-twitter w3-hover-opacity"></i>-->
            <!--<i class="fa fa-linkedin w3-hover-opacity"></i>-->
            <p class="w3-medium">Powered by Sage and <a href="https://www.w3schools.com/w3css/default.asp" target="_blank" class="w3-hover-text-green">w3.css</a></p>
            <!-- End footer -->
        </footer>

        <!-- END PAGE CONTENT -->
    </div>
    <script src="static/prism.js"></script>
</body>
</html>
